#container{
	width: 800px;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
}
header{
	height: 100px;
	width: 100%;
	background-color: grey;
	color: white;
	text-align: center;
	font-size: 50px;
}
.link{
	margin: 5px;
	height: 50px;
	width: 190px;
	background-color: red;
	float: left;
}
#menu{
	width: 190px;
	height: 400px;
	background: blue;
	clear: both;
}
#main{
	background-color: green;
	height: 480px;
	width: 780px;
	margin: 10px;
	float: left;
}	